body{
    display:grid;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    justify-content: center;
}

header{
    border-bottom: 1px solid seashell;
    height: 69px;
    background-color: inherit;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header img{
    margin-left: 10px;
    height: 50px;
     }

li a{
    text-decoration: underline;
    color: seashell;
    padding: 12px;
}

header ul{
    list-style-type: none;
    float: inline-end;
}

header li{
    float: inline-start;
}

.jumbotron{
    width: 100%;
    height: 700px;
    background-image: url(assets/img-mission-background.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 1200px;
    position: relative;
    top: 70px;
    align-items: center;
}

.container{
    width: 1200px;
    background-color: black;
    text-align: center;
    align-content: center;
}

.totm{
    position:relative;
    top: 120px;
    width: 1000px;
    justify-content: center;
    text-align: center;
    justify-self: center;
}

.images{
    position: relative;
    top:100px;
    justify-content: center;
    justify-self: center;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.images img{
    height: 200px;
    width: 300px;
    padding: 20px;
}

.images h4{
    margin-top:  0px;
    text-align: center;
}

.locations{
    width: 100%;
    height: 500px;
    position: relative;
    top: 120px;
    width: 100%;
    background-image: url(assets/img-locations-background.webp);
    justify-content: center;
    
}

.locations h2{
    position:relative;
    top:30px;
    justify-content: center;
    text-align: center;
}

.location-containers{
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.location-container{
    width: 300px;
    line-height: 40px;
    height: fit-content;
    background-color: black;
    text-align: center;
}

footer{
    position:relative;
    top: 120px;
    background-color: inherit;
    height: 200px;
    text-align: center;
}

footer h2{
    margin: 10px;
}

.copyright{
    margin-left: 20px;
    text-align: left;
}